.project
.pydevproject
*.pyc
COLLEZIONI_FONDO_GABINIO.csv
COLLEZIONI_FONDO_GABINIO.json
COLLEZIONI_GAM.csv
COLLEZIONI_GAM.json
COLLEZIONI_MAO.csv
COLLEZIONI_MAO.json
COLLEZIONI_PALAZZO_MADAMA.csv
COLLEZIONI_PALAZZO_MADAMA.json